body {
    background-color:rgb(226, 180, 112);
}

#GridContainer {
    display: grid; /* change display property (from black level to grid)*/
    grid-template-areas: 
    'header header header'
    'left main main'
    'left main main'
    ;
}

#item1 {
    grid-area: header;
    width: 100%;
    background-color:white;
    height: 33vh;
}

#item2 {
    grid-area: left;
    width: 100%;
    background-color:rgb(177, 163, 126);
    height: 66vh;
}

#item3 {
    grid-area: main;
    width: 100%;
    background-color:rgb(173, 109, 24);
    height: 66vh;
}

.center{
    text-align: center;
    font-family:MyFont;
}

@font-face{
    font-family: MyFont;
    src: url(Roboto-BoldItalic.ttf);
}

@media only screen and (max-width:600px) {
    body {
        background-color: green;
    }
    #GridContainer {
        grid-template-areas: 
        'header'
        'left'
        'main'
        ;
    }
}