* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../background/Our_Products.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    font-family: sans-serif;
    background-position: center;
}


/*---------Start-menuBar---------*/

.menu-bar {
    background: black;
    text-align: center;
    height: 10vh;
    font-size: 1vw;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: whitesmoke;
}

.menu-bar ul li {
    width: 10vw;
    margin: 0px;
    padding: 1vh;
}

.menu-bar ul li a {
    text-decoration: none;
    color: whitesmoke;
}

.menu-bar ul li:hover {
    background: palevioletred;
    border-radius: 3px;
}

.top_nav_btn {
    object-fit: contain;
    height: 5vh;
    width: 100%;
    cursor: pointer;
    color: white;
    border: none;
}

.sum-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sum-menu-1 {
    display: block;
    position: absolute;
    background: black;
    margin-top: 1vh;
    margin-left: -1vh;
}

.menu-bar ul li:hover .sum-menu-1 ul {
    display: block;
    margin: 2vh;
}

.menu-bar ul li:hover .sum-menu-1 ul li {
    width: 8vw;
    padding: 1vh;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sum-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sum-menu-1 ul li a:hover {
    color: palevioletred;
}

@media only screen and (max-width: 768px) {
    .menu-bar {
        font-size: 2vw;
    }
}


/*---------End-menuBar---------*/

.introduction {
    background-color: rgb(240, 240, 240);
    opacity: 0.85;
    border-radius: 50px;
}

h1 {
    color: rgb(236, 42, 107);
    font-family: Copperplate, Papyrus, fantasy;
    text-shadow: 5px 5px 10px white;
    font-size: 350%;
}

h2 {
    text-align: center;
    color: rgb(255, 91, 133);
    margin: 30px 0 50px;
    font-family: Copperplate, Papyrus, fantasy;
    font-weight: bold;
    text-shadow: 5px 5px 10px rgb(250, 255, 255);
    font-size: 25px;
}

h3 {
    text-align: center;
    color: black;
    margin: 5px 0 50px;
    font-family: Copperplate, Papyrus, fantasy;
    font-weight: bold;
    text-shadow: 5px 5px 10px rgb(250, 255, 255);
    font-size: 25px;
}

.events {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 7s steps(50);
}

@keyframes typing {
    from {
        width: 0vw;
    }
    to {
        width: 100vw;
    }
}

.contact .text-box {
    display: block;
    float: center;
    text-align: center;
    font-family: sans-serif;
    background: rgb(252, 238, 238);
    color: black;
    border: none;
    width: 35vw;
    height: 5vh;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
    margin-bottom: 1vh;
}

.contact .textarea {
    display: block;
    margin-bottom: 1vh;
    float: center;
    text-align: center;
    font-family: sans-serif;
    background: rgb(252, 238, 238);
    ;
    color: black;
    border: none;
    width: 35vw;
    font-size: 20px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
}

.contact .send-bth {
    text-align: center;
    float: center;
    background: palevioletred;
    color: black;
    border: none;
    width: 15vw;
    height: 5vh;
    font-size: 2vh;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.contact .send-bth:hover {
    background: palevioletred;
    font-family: sans-serif;
    color: white;
}