{% extends 'base.html' %}

{% set page_head_title = 'Shop' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('shop.static', filename='css/shop.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
     <main id="search_eara">
        <style>
            main{
                background: url("{{ url_for('shop.static',filename='media/white.jpg') }}") ;
            }
        </style>

        <input class="search-box" type="text" id="search" onkeyup="myFunction()" placeholder="Search for names..">

         <style>
         #search{
                background-image: url("{{ url_for('shop.static',filename='media/searchicon.jpg') }}") ;
            }
        </style>

        <div class = filter>
            &#160; &#160; &#160; &#160;<b> Shop By Price: </b>
            <button class="btn active" onclick="filterSelection('all')"> The whole store </button>
            <button class="btn" onclick="filterSelection('low')">under 50₪</button>
            <button class="btn" onclick="filterSelection('mid')"> 50₪-100₪</button>
            <button class="btn" onclick="filterSelection('high')"> over 100₪</button>
        </div>
        <div class = filter>
            &#160; &#160; &#160; &#160;<b> On Sale:</b> &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
            <button class="btn" onclick="filterSelection('sale')">sale</button>
        </div>
        <div class = filter>
            &#160; &#160; &#160; &#160; <b> Colour: </b> &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
            <button id = "green" class="btn" onclick="filterSelection('green')">green</button>
            <button id = "yellow" class="btn" onclick="filterSelection('yellow')">yellow</button>
            <button id = "white" class="btn" onclick="filterSelection('white')">white</button>
            <button id = "blue" class="btn" onclick="filterSelection('blue')">blue</button>
            <button id = "black" class="btn" onclick="filterSelection('black')">black</button>
        </div>

        <ul id="Product_list">
            <li>
                <div class="card filterDiv high sale black" v-for="post in filteredList">
                    <img class=shopPicture src="{{ url_for('shop.static', filename='media/store1.png') }}" alt="">
                    <p><b>poike</b></p>
                    <p> price: <del>180₪</del> <ins>140₪</ins></p>
                    <a href="#">add to cart</a>
                </div>
            </li>

            <li>
                <div class="card filterDiv mid sale green" v-for="post in filteredList">
                    <img class=shopPicture src="{{ url_for('shop.static', filename='media/store2.png') }}" alt="">
                    <p><b>box</b></p>
                    <p> price: <del>80₪</del> <ins>55₪</ins></p>
                    <a href="#">add to cart</a>
                </div>
            </li>
            <li>
                <div class="card filterDiv high green" v-for="post in filteredList">
                    <img class=shopPicture src="{{ url_for('shop.static', filename='media/store3.png') }}" alt="">
                    <p><b>avocado</b></p>
                     <p>price: 190₪</p>
                    <a href="#">add to cart</a>
                </div>
            </li>
            <li>
                <div class="card filterDiv low yellow" v-for="post in filteredList">
                    <img class=shopPicture src="{{ url_for('shop.static', filename='media/store4.png') }}" alt="">
                    <p><b>pineapple</b></p>
                    <p> price: 40₪</p>
                    <a href="#">add to cart</a>
                </div>
            </li>

            <li>
                <div class="card filterDiv low sale black" v-for="post in filteredList">
                    <img class=shopPicture src="{{ url_for('shop.static', filename='media/photo7.jpeg') }}" alt="">
                    <p><b>regular</b></p>
                    <p> price: <del>40₪</del> <ins>25₪</ins></p>
                    <a href="#">add to cart</a>
                </div>
            </li>
            <li>
                <div class="card filterDiv low yellow" v-for="post in filteredList">
                    <img class=shopPicture src="{{ url_for('shop.static', filename='media/base3.png') }}" alt="">
                    <p><b>pikachu</b></p>
                    <p> price: 45₪</p>
                    <a href="#">add to cart</a>
                </div>
            </li>
            <li>
                <div class="card filterDiv mid sale blue" v-for="post in filteredList">
                    <img class=shopPicture src="{{ url_for('shop.static', filename='media/photo3.jpeg') }}" alt="">
                    <p><b>blue pokemon</b></p>
                    <p> price: <del>90₪</del> <ins>60₪</ins></p>
                    <a href="#">add to cart</a>
                </div>
            </li>
            <li>
                <div class="card filterDiv mid white" v-for="post in filteredList">
                    <img class=shopPicture src="{{ url_for('shop.static', filename='media/photo4.jpeg') }}" alt="">
                    <p><b>chinese food</b></p>
                    <p> price: 80₪</p>
                    <a href="#">add to cart</a>
                </div>
            </li>
            <li>
                <div class="card filterDiv  yellow low" v-for="post in filteredList">
                    <img class=shopPicture src="{{ url_for('shop.static', filename='media/base2.png') }}" alt="">
                    <p><b>cheese</b></p>
                    <p> price: 20₪</p>
                    <a href="#">add to cart</a>
                </div>
            </li>
            <li>
                <div class="card filterDiv mid" v-for="post in filteredList">
                    <img class=shopPicture src="{{ url_for('shop.static', filename='media/photo6.jpeg') }}" alt="">
                    <p><b>wood style</b></p>
                    <p> price: 70₪</p>
                    <a href="#">add to cart</a>
                </div>
            </li>
            <li>
                <div class="card filterDiv low blue" v-for="post in filteredList">
                    <img class=shopPicture src="{{ url_for('shop.static', filename='media/base4.png') }}" alt="">
                    <p><b>Sponge bob </b></p>
                    <p> price: 45₪</p>
                    <a href="#">add to cart</a>
                </div>
            </li>
            <li>
                <div class="card filterDiv low white" v-for="post in filteredList">
                    <img class=shopPicture src="{{ url_for('shop.static', filename='media/Item1.png') }}" alt="">
                    <p><b>snail</b></p>
                    <p> price: 45₪</p>
                    <a href="#">add to cart</a>
                </div>
            </li>
            <li>
                <div class="card filterDiv high sale white" v-for="post in filteredList">
                    <img class=shopPicture src="{{ url_for('shop.static', filename='media/Item2.png') }}" alt="">
                    <p><b>alpaca</b></p>
                    <p> price: <del>240₪</del> <ins>160₪</ins></p>
                    <a href="#">add to cart</a>
                </div>
            </li>

            <li>
                <div class="card filterDiv high black white" v-for="post in filteredList">
                    <img class=shopPicture src="{{ url_for('shop.static', filename='media/photo1.jpeg') }}" alt="">
                    <p><b>yin and yang</b></p>
                    <p> price: 130₪</p>
                    <a href="#">add to cart</a>
                </div>
            </li>

            <li>
                <div class="card filterDiv sale black white yellow low" v-for="post in filteredList">
                    <img class=shopPicture src="{{ url_for('shop.static', filename='media/store5.png') }}" alt="">
                    <p><b>cat</b></p>
                    <p> price: <del>130</del> <ins>30</ins></p>
                    <a href="#">add to cart</a>
                </div>
            </li>

        </ul>
     </main>
{% endblock %}


{% block page_body_js %}
    <script src="{{ url_for('shop.static', filename='js/shop.js') }}"></script>
{% endblock %}

