{% extends 'base.html' %}

{% block title %}
Users
{% endblock %}

{% block tohen %}
    <h1>Users Page!!</h1>
    <form action="/insert_user" method="post"> <!--  post because dealing with passwords -->
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Insert"> <!-- # value= what that will be written on the button -->
    </form>
    <hr>
    <h2>Users' List:</h2>
    {% for user in users %}
        <li>
            <form action="/delete_user" method="post" style="display: inline">
                <input type="hidden" name="id" value="{{ user.id }}">
                <input type="submit" value="Delete">
            </form>
            {{ user.name }}, Email: {{ user.email }}
        </li>  <!-- #name/email= the table's columns' names -->
    {% endfor %}
{% endblock %}
